<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<meta charset="utf-8">
	<title>Treble</title>
	<meta name="author" content="Tyler Benziger">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

  <link href="css/bitstream.css" type="text/css" rel="stylesheet">
  <link href="css/styles.css" type="text/css" rel="stylesheet">
  <link href="css/default.css" type="text/css" rel="stylesheet">
  <link href="css/code.css" type="text/css" rel="stylesheet">

	<script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33073396-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
	</script>
</head>
<body>
    
  
  <div class="sidebar">
    <div class="header">
      <h1>Header</h1>
    </div>
    <ul class="nav">
      <li>
        <a href="/">Nav 1</a>
      </li>
      <li>
        <a href="/blog">Nav 2</a>
      </li>
      <li>
        <a href="/projects">Nav 3</a>
      </li>
    </ul>
    <div class="social">
      <a href="#">
        <img src="img/octocat.png" alt="" />
      </a>
      <a href="#">
        <img src="img/twitter.png" alt="" />
      </a>
    </div>
  </div>

  <div class="main">
    <div class="post">
      <div class="post-header">
        <h2>Lorem ipsum</h2>
        <span class="date">1:30pm July 3, 2012</span>
      </div>
      <div class="post-body">
        {{content}}
      </div>
    </div>
  </div>

</body>
</html>

